.container {
  width: 156px;
  height: 40px;
  display: flex;
  align-items: center;
}

.add {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.notification {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  width: 60px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add img {
  display: block;
  width: 24px;
  height: 24px;
}

.notification img {
  display: block;
  width: 24px;
  height: 24px;
}

.user img {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}


@media (max-width: 660px) {
  .add, .notification {
    display: none;
  }
}